@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background-color: rgb(234, 234, 234);
    color: #333;
}

body::-webkit-scrollbar {
    display: none;
}

/* LOGIN FORM */
.container_form {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_form form {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    width: 500px;
}

.container_form form h1 {
    margin: 10px 4px;
}

.container_form .form_content {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    gap: 5px;
    margin: 25px 0 10px;
    position: relative;
}

.container_form .form_content i {
    font-size: 1.4em;
    position: absolute;
    top: 50%;
    transform: translate(10px, -50%);
    display: flex;
    align-items: center;
    border-radius: 50%;
    background: rgba(234, 234, 234, 1);
}

.container_form form input#username,
.container_form form input#password {
    width: 100%;
    font-size: 1em;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 15px 35px;
    background: rgba(234, 234, 234, 1);
}

.container_form form input:focus {
    box-shadow: 0 0 5px #1775f1;
}

.container_form form .checkbox {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.container_form form button {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: none;
    outline: none;
    background: #1775f1;
    color: #fff;
    margin: 5px 0;
    border-radius: 5px;
}

.container_form form .forgot {
    text-decoration: none;
    font-size: 0.9em;
}

.container_form form .forgot p {
    margin: 15px 3px;
}

.container_form form .register {
    text-align: center;
    /*margin-left: 3px;*/
    font-size: 0.95em;
    margin: 15px 0;
}

.container_form form .register a {
    text-decoration: none;
}

/* LOGIN FORM */

/* MOBILE */
@media only screen and (max-width: 767px) {
    .container_form form {
        width: 370px;
    }
}
